div#content {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    margin: 0;
    padding: 0;
    color:#fff
}
#box {
    position: relative;
    vertical-align:top;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
.black {
    background: black;
}
.white {
    background: grey;
}
div#up-left {
    width: 50%;
    left: 0;
    position: relative;
    background: black;
    transform-style: preserve-3d;
}
div#down-right {
    width: 50%;
    left: 50%;
    top: 0;
    border-left: 1px solid white;
    position: fixed;
    will-change: transform;
    backface-visibility: hidden;
}
.gfy {
    visibility:none;
}